body {
  overflow: hidden;
}
.App {
  background-color: rgba(242, 233, 217, 0.5);
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}

.content {
  height: 90%;
  background-color:white;
  border-radius: 10px;
  overflow-y: auto;
  /* max-height: 90vh; */
  width: 90%;
  opacity: 1;
  position: absolute;
}


@media (min-width: 1000px){ /* larger screens*/
  .links {
    position: sticky;
    margin-left: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 5%;
    height: 20vh;
    margin-bottom: 35px;
  }
  
  .link-img{
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 999px) {  /* smaller screens */
  .links {
    position: sticky;
    margin-left: auto;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 20vh;
    height: 5vh;
  }
  
  .link-img{
    height: 30px;
    width: 30px;
  }
}


.content::-webkit-scrollbar {
  width: 0;
}

.content::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb transparent */
}

.content::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  min-height: 30vh;
  width: 6vh;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 2%;
  background-color: rgba(223, 206, 188, 0.5);
  overflow-x: hidden;
  display: flex;
  flex-direction: column; 
  align-items: center;
  transform: translateY(-50%); /* Adjust to vertically center */
  border-radius: 10px;
  justify-content: space-evenly; 
  overflow: hidden;
  transition: background-color 0.3s ease, width 0.5s ease-in-out;;
}

.navbar a {
  display: flex;
  align-items: center; 
}

.section-img{
  margin: 5px;
  border-radius: 0%;
}

.navbar.expanded {
  width: 17vh;
}

.navbar img {
  width: 30px;
  height: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  /* margin: 5px; */
  cursor: pointer;
  width: 100%;
  /* justify-content: center; */
  padding-left: 7px;

}

.nav-text {
  display: none; /* Initially hide text */
  color: white;
  white-space: nowrap;
  
}

.navbar.expanded .nav-text {
  display: inline; /* Show text when navbar is expanded */
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

.raindrop {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: cover;
  animation: fall 50s linear infinite;
  pointer-events: none !important;
  z-index: 1;
}

.raindrop-container{
  position: absolute;
  overflow: hidden;
}

@keyframes fly {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }

  50% {
    transform: translateY(150vh);
    opacity: 1;
  }

  100% {
    transform: translateY(150vh);
    opacity: 1;
  }
}
