
.skills-container{
    /* height: auto; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    margin-top: auto;
}

#skill{
    background-color: rgba(242, 233, 217, 1.5);
    padding: 0 7px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
}

.link {
    height: 30px;
    width: 30px;
    z-index: 10000;

}

.sec-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media (min-width: 768px){ /* larger screens*/
   
    .img-container{
        width: 20vw;
        max-width: 400px;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainpage {
        display: flex;
        flex-direction: row;
        height: 90vh;
        width: auto;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin: 0;
        padding: 0;
    }
    
    .infopage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        min-height: 90vh;
        max-height: 100%;
        overflow: hidden;
        flex: 1;
    }

    #mainintro{
        padding: 30px;
        height: 100%;
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .text {
        font-size: 25px;
    }

    .text:not(#cookiepoints){
        font-size: 20px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex: 1; */
        height: 100%;
        max-height: 100vh;
        background-color: white;
        padding: 20px;
    }

    #mainintro #main {
        font-size: 60px;
    }

    .title {
        font-size: 30px;
        margin-top: 0;
    }

    .header {
        font-size: 35px;
    }

    .logo {
        width: 50vh;
        padding: 30px;
    }

    .pic {
        width: 300px;
        height: 300px; 
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.75);
    }


}


@media (max-width: 767px) { /* smaller screens*/
    .img-container {
        height: 50vh;
        min-height: 300px;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: flex-end;
    }

    .mainpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: 100%;
    }

    #mainintro {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        height: 50%;
        width: 100%;
    }

    #mainintro #cookiepoints{
        font-size: 18px;
    }

    #mainintro #main {
        font-size: 30px;
    }

    .infopage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        min-height: 90vh;
        overflow: hidden;
    }
    
    .text:not(#cookiepoints){
        font-size: 15px;
    }

    .section-info {
        height: 60vh;
    }

    .header {
        font-size: 30px;
    }

    .logo {
        width: 5vh;
        padding: 20px;
    }

    .pic {
        width: 200px;
        height: 200px; 
        border-radius: 20px;
    }
    
}


.header-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
}

.header-banner{
    position: relative;
    width: 500px;
    height: 90px;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    text-align: center; 
    font-weight: bold;
    white-space: nowrap;
}

.info-container{
    padding: 20px;
    border: 2px solid #dfcebc;
    margin: 30px;
    border-radius: 15px;
    text-align: left;
    flex: 1;
    /* /* max-height: 100%; */
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.logo {
    width: 50vh;
    padding: 30px;
}

.title {
    margin: 0;
}

#cookiepoints{
    list-style-type: none;
    text-align: left;
    background-color: #F2E9D9;
    border-radius: 4px;
    padding: 10px;
    
}

#cookiepoints li {
    padding-left: 30px;
    background: url("./imgs/fullcookie.png") no-repeat left center;
    background-size: 25px;
}

.date{
    color: #636363;
    margin: 0;
}

#infobulletpoints{
    margin: 0;
}